<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/panzhou.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Pan Zhou &nbsp 周 攀
			</h3>
			<p>
			I am currently a tenure-track  Assistant Professor at the School of Computing and Information Systems, Singapore Management University.  
			Prior to this position, I held roles as a Senior Research Scientist at Sea AI Lab and as a Research Scientist at Salesforce.   
			I completed my Ph.D. degree at the National University of Singapore (NUS), fortunately advised by 
			<a href="https://sites.google.com/site/jshfeng/">Prof. Jiashi Feng</a> and 
			<a href="https://www.ece.nus.edu.sg/stfpage/eleyans/"> Prof. Shuicheng Yan</a>. Before studying in NUS, I graduated from Peking University (PKU) 
			where I had the honor of working under the guidance of  <a href="http://www.cis.pku.edu.cn/faculty/vision/zlin/zlin.htm"> Prof. Zhouchen Lin</a> 
			and <a href="http://www.cis.pku.edu.cn/faculty/vision/zhangchao/zhangchao.htm"> Prof. Chao Zhang</a> in <a href="https://zero-lab-pku.github.io/"> ZERO Lab</a>. 
			Throughout my research journey, I collaborated closely with    <a href="https://sites.google.com/site/xtyuan1980/"> Prof. Xiaotong Yuan</a>. 
			I also spent several wonderful months at Georgia Tech in 2018  and Princeton University in 2019  as a visiting student. 
			</p>&nbsp

			<p>
				I have several Ph.D. and Master opening positions for Spring 2025 admission. 
				If you are interested in the following research topics, please drop me an email. 
				I am also open to any industrial and personal collaboration, such as visiting positions and remote intern positions. 
				Moreover, if you are interested in the industrial internship in Singapore, I can also help to recommend.
			</p>

			<p>
			

			<h4>Research Interests</h4>	
				<ul > 
				    <li>(1) Deep learning optimization: how to quickly and efficiently train network models? </li>
				    <li>(2) Learning framework: how to effectively learn the knowledge from (unlabeled) data? E.g. self-supervised learning and generative learning (Diffusion Models) </li>
				    <li>(3) Next-generation network architecture design: how to design more advanced network architectures?</li>
				</ul>


			<!-- <h4>Research Topics</h4> nonconvex/convex optimization (especially for networks), self-supervised learning, network architecture design, etc.</p>
			</p>&nbsp
			<p>
	                <h4>Available Ph.D. and Master Positions in Beijing, Shanghai, Shenzhen, and Singapore or "in a pure remote manner":</h4> 
			</p>
			<div class='Intern'>
				<ul > 
				    <li>(1) Deep learning optimization: how to quickly and efficiently train network models? </li>
				    <li>(2) Learning framework: how to effectively learn the knowledge from (unlabeled) data? E.g. self-supervised learning and generative learning (Diffusion Models) </li>
				    <li>(3) Next-generation network architecture design: how to design more advanced network architectures?</li>
				</ul>
				For the intern position, please send an email to zhoupan@sea.com
			</div> -->
<!--
			<a href="mailto: panzhou3 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; panzhou3 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			<a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
			-->
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %} 
			{% if site.website %}
				<!--&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp-->
                &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
				<!-- &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="assets/pdf/zhoupancv.pdf" target="_blank"><i class="fa fa-desktop"></i> &nbsp; CV</a> -->
			{% endif %} 
			<!-- {% if site.resume %}
				&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="assets/pdf/zhoupancv.pdf" target="_blank"><i class="fa fa-desktop"></i> &nbsp; CV</a>
			{% endif %} -->

			
	</div>
</div>
