<div class='row'>
    <div class='span12'>
		<div class='photo'>
			<img src="assets/images/wyc2.jpg" alt="photo"/>
		</div>
		<div class='introduction'>
			<h3>
				Pan Zhou
			</h3>
			<p>
			I am currently a first-year Ph.D. student in Learning and Vision Research
			Group at the Department of Electrical and Computer Engineering,
			National University of Singapore. My research areas are optimization, deep learning analysis, compressed sensing. 
			</p>
			<p>
				<h3>Research</h3> computer vision, multimedia and deep learning </p>

			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{% if site.website %}
				 <a href="https://scholar.google.com.sg/citations?user=qL9Csv0AAAAJ&hl=en" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
			{% endif %}
		</div>
		</div>
</div>
