<div class='row'>
    <div class='span12'>
		<div class='photo'>
			<img src="assets/images/panzhou.jpg" alt="photo"/>
		</div>
		<div class='introduction'>
			<h3>
				Pan Zhou
			</h3>
			<p>
			I am currently a first-year Ph.D. student at National University of Singapore (NUS), fortunately advided by Dr. Jiashi Feng and Dr. Shuichen Yan. Before studying in NUS, I graduated from Peking University (PKU) in 2016 and during this period of time, I was fortunately directed by Dr. Zhouchen Lin and Dr. Chao Zhang. 
<!--			My research areas are noncovex/convex optimization, deep learning, compressed sensing, etc.
-->
			</p>
			<p>
			<h4>Research Topics</h4> Noncovex/convex optimization, deep learning, compressed sensing, etc.</p>

			<a href="mailto: panzhou3 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; panzhou3 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
				 <a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
				 
		</div>
		</div>
</div>
