<!-- <h3>
	<a name='publications'></a> News
</h3>
<div class='news'>
	<ul>
	   <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Three papers were accepted by NeurIPS 2020, one oral paper and two poster papers.
		</li>
	   <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper was accepted by ICML 2020.
		</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper was accepted as a spotlight paper in NeurIPS 2019.
		</li>
	
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper accepted in ICME 2017.</li>
	</ul>
</div> -->
