<!--
<h3>
	<a name='Manuscripts'></a> Manuscripts
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor LRR for Data Recovery and Clustering</strong><br />
       <strong>Pan Zhou</strong>, Canyi Lu, et al., submitted to IJCV (Major Revision), 2017.<br />
	   <a href="https://arxiv.org/abs/1705.07038">[PDF]</a>
   </p>
  </div>
</div>
-->

<h3>
	<a name='publications'></a> Publications
</h3>
<!--
<h4>
	<a name='report'></a> Technique Reports
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Proposal-free network for instance-level object segmentation</strong><br />
       Xiaodan Liang, <strong>Yunchao Wei</strong>, Xiaohui Shen, Jianchao Yang, Liang Lin, Shuicheng Yan<br />
      <a href="https://arxiv.org/abs/1509.02636">[arxiv]</a>
    </p>
  </div>
</div>
-->

<h4>
	<a name='2018'></a> 2018
</h4>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Efficient Stochastic Gradient Hard Thresholding</strong><br />
       <strong>Pan Zhou</strong>, Xiaotong Yuan, Jiashi Feng<br />
        Neural Information Processing Systems (<strong>NIPS</strong>), 2018 <br />
		<!--
		<a href="assets/pdf/2018-NIPS-HSG-HT.pdf">[PDF]</a>
	  <a href="https://arxiv.org/abs/1805.10767">[Axriv]</a>
	  <a href="assets/bibtex/2018-ICML-AnalysisCNN.txt">[Bibtex]</a>
	  -->
   </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>New Insight into Hybrid Stochastic Gradient Descent:
Beyond With-Replacement Sampling and Convexity</strong><br />
       <strong>Pan Zhou</strong>, Xiaotong Yuan, Jiashi Feng<br />
        Neural Information Processing Systems (<strong>NIPS</strong>), 2018 <br />
		<!--
		<a href="assets/pdf/2018-NIPS-HSGD.pdf">[PDF]</a>
	  <a href="https://arxiv.org/abs/1805.10767">[Axriv]</a>
	  <a href="assets/bibtex/2018-ICML-AnalysisCNN.txt">[Bibtex]</a>
	  -->
   </p>
  </div>
</div>



<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Understanding Generalization and Optimization Performance of Deep CNNs</strong><br />
       <strong>Pan Zhou</strong>, Jiashi Feng<br />
        International Conference on Machine Learning (<strong>ICML</strong>), 2018 <br />
		<a href="assets/pdf/2018-ICML-deepCNNs.pdf">[PDF]</a>
	  <a href="https://arxiv.org/abs/1805.10767">[Axriv]</a>
	  <a href="assets/bibtex/2018-ICML-AnalysisCNN.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Adversarial Subspace Clustering</strong><br />
       <strong>Pan Zhou</strong>, Yunqing Hou, Jiashi Feng<br />
       IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018 <br />
      <a href="assets/pdf/2018-CVPR-DSCN.pdf">[PDF]</a>
	  <!--
	  <a href="https://arxiv.org/abs/1705.07038">[Axriv]</a>
	  -->
	  <a href="assets/bibtex/2018-CVPR-DSCN.txt">[Bibtex]</a>
   </p>
  </div>
</div>



<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Empirical Risk Landscape Analysis for Understanding Deep Neural Networks</strong><br />
       <strong>Pan Zhou</strong>, Jiashi Feng<br />
       International Conference on Learning Representations (<strong>ICLR</strong>), 2018 <br />
      <a href="assets/pdf/2018-ICLR-AnalysisDNN.pdf">[PDF]</a>
	  <a href="https://arxiv.org/abs/1705.07038">[Axriv]</a>
	  <a href="assets/bibtex/2018-ICLR-AnalysisDNN.txt">[Bibtex]</a>
   </p>
  </div>
</div>



<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Task Relation Networks</strong><br />
       Jianshu Li, <strong>Pan Zhou</strong>, Yunpeng Chen, Jian Zhao, Sujoy Roy, Yan Shuicheng, Jiashi Feng, and  Terence Sim<br />
       IEEE Winter Conference on Applications of Computer Vision (<strong>WACV</strong>), 2019 <br />
	   <!--
      <a href="assets/pdf/2018-ICLR-AnalysisDNN.pdf">[PDF]</a>
	  <a href="https://arxiv.org/abs/1705.07038">[Axriv]</a>
	  <a href="assets/bibtex/2018-ICLR-AnalysisDNN.txt">[Bibtex]</a>
	  --->
   </p>
  </div>
</div>

<h4>
	<a name='2017'></a> 2017
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Outlier-Robust Tensor PCA</strong><br />
       <strong>Pan Zhou</strong>, Jiashi Feng<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017 <br />
      <a href="assets/pdf/2017-CVPR-RTPCA.pdf">[PDF]</a>
	  <a href="">[SUPP]</a>
	  <a href="assets/code/OR_TPCA_code.rar">[Codes]</a>
	  <a href="assets/bibtex/2017-CVPR-TRPCA.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor Factorization for Low-Rank Tensor Completion</strong><br />
        <strong>Pan Zhou</strong>, Canyi Lu, Zhouchen Lin, Chao Zhang<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2017 <br />
	  <a href="assets/pdf/2017-TIP-TCTF.pdf">[PDF]</a>
      <a href="assets/pdf/2017-TIP-TCTF-supplementary.pdf">[SUPP]</a>
	  <a href="assets/code/TCTF_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-TIP-TCTF.txt">[Bibtex]</a>
    </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Dictionary Learning with Structured Noise</strong><br />
       <strong>Pan Zhou</strong>, Cong Fang, Zhouchen Lin, Chao Zhang, Edward Y. Chang<br />
	   Neurocomputing, 2017 <br />
	  <a href="assets/pdf/2017-NEUCOM-DLSN.pdf">[PDF]</a>
	  <!--
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
      <a href="assets/projects/stc.html">[Project]</a>
	  
	  <a href="assets/code/LPDE_featurelearning_code.rar">[Codes]</a>
	  -->
      <a href="assets/bibtex/2017-NEUCOM-DLSN.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Feature Learning via Partial Differential Equation with Applications to Face Recognition</strong><br />
       Cong Fang, Zhenyu Zhao, <strong>Pan Zhou</strong>, Zhouchen Lin<br />
       Pattern Recognition
       (<strong>PR</strong>), 2017 <br />
	  <a href="assets/pdf/2017-PR-FE-PDE.pdf">[PDF]</a>
	  <!--
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
	  <a href="assets/code/LPDE_featurelearning_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-PR-FE-PDE.txt">[Bibtex]</a>
    </p>
  </div>
</div>





<h4>
	<a name='2016'></a> 2016
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Bilevel Model Based Discriminative Dictionary Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Chao Zhang, Zhouchen Lin<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2016 <br />
	  <a href="assets/pdf/bilevel_TIP.pdf">[PDF]</a>
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
	  <!--
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
      <a href="assets/bibtex/bilevel_TIP.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Integrated Low-Rank-Based Discriminative Feature Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Zhouchen Lin, Chao Zhang<br />
      IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>), 2016 <br />
	  <a href="assets/pdf/Integrated_Low_Rank_TNNLS.pdf">[PDF]</a>
      <a href="assets/pdf/Integrated_Low_Rank_supp_TNNLS.pdf">[SUPP]</a>
      <a href="assets/code/integrated_low_rank code.rar">[Codes]</a>
      <a href="assets/bibtex/Integrated_Low_Rank_TNNLS.txt">[Bibtex]</a>
    </p>
  </div>
</div>