<h3>
	<a name='publications'></a> Academic Service
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Journal refereeing:</strong> IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), International Journal of Computer Vision (<strong>IJCV</strong>), IEEE Transactions on Image Processing (<strong>TIP</strong>), IEEE Trans. on Neural Networks and Learning Systems (<strong>TNNLS</strong>), IEEE Transactions on Knowledge and Data Engineering (<strong>TKDE</strong>), IEEE Transactions on Circuits and Systems for Video Technology (<strong>TCSVT</strong>), IEEE Signal Processing Letters (<strong>SPL</strong>), Journal of Biomedical and Health Informatics.
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Conference refereeing:</strong> International Conference on Machine Learning (<strong>ICML</strong>, 2023/2022/2021/2020/2019), Neural Information Processing Systems (<strong>NeurIPS</strong>, 2023/2022/2021/2020/2019/2018), Association for Uncertainty in Artificial Intelligence (<strong>UAI</strong>, 2021/2020/2019), IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>, 2023/2022/2021/2020/2019/2018), International Conference on Computer Vision (<strong>ICCV</strong>, 2021/2019),  Association for the Advancement of Artificial Intelligence (<strong>AAAI</strong>, 2019), Asian Conference on Computer Vision (<strong>ACCV</strong>, 2018).
   </p>
  </div>
</div>

<!--
<div class='Academic Service'>
	<ul >   
	    <li>  <strong>Journal refereeing:</strong> IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), IEEE Transactions on Image Processing (<strong>TIP</strong>), IEEE Trans. on Neural Networks and Learning Systems (<strong>TNNLS</strong>), IEEE Transactions on Knowledge and Data Engineering (<strong>TKDE</strong>), IEEE Transactions on Circuits and Systems for Video Technology (<strong>TCSVT</strong>), IEEE Signal Processing Letters (<strong>SPL</strong>).		
		</li>
	    <li> <strong>Conference refereeing:</strong>  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>, 2018), Neural Information Processing Systems (<strong>NIPS</strong>, 2018),  Association for the Advancement of Artificial Intelligence (<strong>AAAI</strong>, 2019), Asian Conference on Computer Vision (<strong>ACCV</strong>, 2018).}
		</li>
	</ul>
</div>
-->
